*, *:before, *:after {
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer, header, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: #0d192b;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
body div div.card {
  width: 17rem;
  max-width: 100%;
  background-color: #14253d;
  padding: 1.3rem;
  border-radius: 20px;
}
body div div.card div.card__image-content {
  margin: 0 auto;
  position: relative;
}
body div div.card div.card__image-content::after {
  content: url("../images/icon-view.svg");
  position: absolute;
  border-radius: 10px;
  top: 0px;
  left: 0px;
  text-align: center;
  background: rgba(0, 255, 247, 0.5);
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.4s;
  display: flex;
  align-items: center;
  justify-content: center;
}
body div div.card div.card__image-content:hover::after {
  opacity: 1;
  cursor: pointer;
}
body div div.card div.card__image-content img.card__img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 1;
}
body div div.card .card__img, body div div.card .card__name, body div div.card .card_nft-creator span {
  cursor: pointer;
  transition: 0.3s;
}
body div div.card .card__img:hover, body div div.card .card__name:hover, body div div.card .card_nft-creator span:hover {
  color: #00fff7;
}
body div div.card h1.card__name {
  font-size: 1.2rem;
}
body div div.card p.card__description {
  font-size: 0.9rem;
  color: #8bacda;
  font-weight: 500;
  line-height: 20px;
}
body div div.card div.card__infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body div div.card div.card__infos p {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 375px) {
  body div div.card div.card__infos p {
    font-size: 0.8rem;
  }
}
body div div.card div.card__infos p img {
  -o-object-fit: contain;
     object-fit: contain;
  margin-right: 0.3rem;
}
body div div.card div.card__infos p.info_text-eth {
  color: #00fff7;
}
body div div.card div.card__infos p.info_text-eth img.info_img-eth {
  width: 10px;
}
@media screen and (max-width: 375px) {
  body div div.card div.card__infos p.info_text-eth img.info_img-eth {
    width: 8.5px !important;
  }
}
body div div.card div.card__infos p.info_text-clock {
  color: #8bacda;
}
body div div.card div.card__infos p.info_text-clock img.info_img-clock {
  width: 15px;
}
body div div.card div.card_nft-creator {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
body div div.card div.card_nft-creator::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #2f415b;
  bottom: 2.6rem;
}
body div div.card div.card_nft-creator img {
  width: 30px;
  border-radius: 100%;
  border: 1px solid white;
}
body div div.card div.card_nft-creator p {
  font-size: 0.9rem;
  margin: 0 1rem;
  color: #8bacda;
}
body div div.card div.card_nft-creator p span {
  color: white;
}
body div div.card .card__name, body div div.card .card__description, body div div.card .card__infos, body div div.card .card_nft-creater {
  margin: 1.3rem 0;
}
body div.attribution {
  position: absolute;
  bottom: 1rem;
}
body div.attribution a {
  color: #00fff7;
}
@media screen and (max-width: 375px) {
  body div.attribution {
    bottom: 1rem;
    font-size: 0.5rem;
  }
}