// ### Primary
$SoftBlue: hsl(215, 51%, 70%);
$Cyan: hsl(178, 100%, 50%);

// ### Neutral
$BGVeryDarkBlue: hsl(217, 54%, 11%);//(main BG)
$CardBGVeryDarkBlue: hsl(216, 50%, 16%); //(card BG)
$LineVeryDarkBlue: hsl(215, 32%, 27%); //(line)
$White: hsl(0, 0%, 100%);

// ## Typography
// ### Body Copy
$Outfit: 'Outfit', sans-serif;
// -Font size (paragraph): 18px
